body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
  line-height: 1.5;
  margin: 0;
}

.page-header {
  display: flex;
  font-display: row;
  justify-content: space-between;
  background-color: #eaa858;
  padding: 0 1em;
}

.page-header ul {
  display: flex;
  font-display: row;
  justify-content: space-between;
  list-style: none;
}

.page-header a {
  display: block;
  padding: 0.5em;
  text-decoration: none;
}